*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	flex-grow: 0;
    flex-shrink: 1;
}
/*Home page*/
body{
	font-family:'Segoe UI';
	background-color: indianred;
}

.logo-text {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
}

.description1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px 20px 30px;
}

.content-wrapper {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.mission h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.mission p {
    font-size: 30px;
    line-height: 1.6;
}

.content{
	display: flex;
	gap: 25px;
}


.links{
	display: flex;
  	justify-content: space-around;
  	gap: 25px;
  	list-style-type: none;
  	padding-top: 25px;
  	font-size: 20px;
	border: 2px white solid;
	padding: 50px;
	border-radius: 5px;
	background-color: orange;
	font-weight: normal;
	font-size: 25px;
	text-decoration:none;

}

/*Leadership Page*/

h1{
	display: flex;
	justify-content: center;
	font-size:50px;
}
p{
	display: flex;
	justify-content: center;
	font-size:25px;
}


.members-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

.members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.member-card {
 	background-color: #f4f4f4;
   	border: 2px solid #ddd;
    border-radius: 10px;
    padding: 100px;
    text-align: center;
}

.member-photo {
	 width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-card h3 {
    color: #FF6B35;
    font-size: 22px;
    margin-bottom: 5px;
}

.member-role {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}











/*Events Page*/

.events-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.section-title {
  	color: #FF6B35;
    font-size: 36px;
    margin: 40px 0 30px;
    text-align: center;
}

.events-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.event-card {
 	border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    background-color: white;
}

.event-banner {
    height: 180px;
    background-color: #FF6B35;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
	justify-content: center;
    color: white;
    font-size: 60px;
        }

.event-card h3 {
    color: #FF6B35;
    font-size: 24px;
    margin-bottom: 10px;
}

.event-details {
   	margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.6;
        }

        

